/*
  preserve.css

  This file contains specific animations and keyframe definitions that were originally
  part of index.css. During the Tailwind CSS build process, the generated utility styles
  sometimes override or change the order of these custom styles, leading to broken or
  unintended animation behavior.

  To avoid such interference and ensure consistent rendering in production builds,
  affected animations and class definitions have been moved here.

  Tailwind should not modify or purge anything in this file. Do not include any @tailwind
  directives here. Only add manually written CSS that needs to retain its original behavior
  and order in the final output.
*/

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}

.fadeIn {
    scale: 0.7;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    /* animation-range: entry; */
    animation-range-start: cover;
    animation-range-end: 400px;
}
