
    .tooltip {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .group:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
    .tab-button {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem 1.5rem;
      background-color: #4f46e5;
      color: white;
      border-radius: 9999px;
      transition: all 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .tab-button:hover {
      background-color: #4C51BF;
      transform: translateY(-3px);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    .skill-card {
      opacity: 1;
      transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
      background-color: #ffffff;
    }
    .skill-card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      
    }
    /* Hide scrollbar for cleaner look */
    .scrollbar-hide {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
    .tabs-container {
      display: flex;
      justify-content: center;
      padding: 1rem;
      overflow-x: auto;
      position: relative;
      margin: 0 -1rem;
      box-sizing: content-box;
    }
  